				<div class="pages" >
					<div class="column">
						<h1>Du concept à la réalisation</h1>
						<p>Du concept à la réalisation, De l'esquisse à la concrétisation d'un rêve.</p>
						<h2>???</h2>
						<ul>
							<li>Les spécificités de la surface (orientation, taille, voisinage ...)</li>
							
						</ul>
						<p>L'exigence technique en plan et en exécution de chantier.</p>
					</div>
				</div>

	<md-grid-list
		md-cols="1" md-cols-md="2" md-cols-gt-md="3"
		md-row-height="16:11"
		md-gutter="4px">
	<md-grid-tile ng-repeat="tile in concept" md-rowspan-xs="1" md-colspan-xs="1"
				  md-rowspan="{{tile.row}}" 
				  md-colspan-gt-sm="{{tile.col}}">
			<img ng-src="{{tile.img}}.jpg" alt="{{tile.title}}" ng-srcset="{{tile.img}}.jpg 400w, {{tile.img}}@2x.jpg  1400w,{{tile.img}}@3x.jpg"
								 ng-click="showPic($event, $index)">
			<md-grid-tile-footer><h4>{{tile.title}}</h4></md-grid-tile-footer>
	</md-grid-tile>
	</md-grid-list>
