				<div class="pages" >
					<div class="column">
						<h1>Travail des petits espaces</h1>
						<p>L'espace, la configuration, la superficie de certains projets entrainent l'architecte d'intérieur à une reflexion sur la fluidité et la perception du lieu. Il faut un regard précis et inventif pour ne passer à côté d'aucune opportunité.</p>
						<p>Procurer une sensation d'espace ! ! !</p>
					</div>
				</div>

	<md-grid-list
		md-cols="1" md-cols-md="2" md-cols-gt-md="3"
		md-row-height="16:10"
		md-gutter="4px">
	<md-grid-tile ng-repeat="tile in style" md-rowspan-xs="1" md-colspan-xs="1"
				  md-rowspan-gt-sm="{{tile.row}}" 
				  md-colspan-gt-sm="{{tile.col}}">
			<img ng-src="{{tile.img}}.jpg" alt="{{tile.title}}" ng-srcset="{{tile.img}}.jpg 400w, {{tile.img}}@2x.jpg  1400,{{tile.img}}@3x.jpg"
								 ng-click="showPic($event, $index)">
			<md-grid-tile-footer><h4>{{tile.title}}</h4></md-grid-tile-footer>
	</md-grid-tile>
	</md-grid-list>
