				<div class="pages" >
					<div class="column">
						<h1>Un style de vie, un dessin</h1>
						<p>Des espaces uniques et sur-mesure, motivés par l'exigence créative, la recherche de l'innovation permanente et du détail architectural.</p>
						<h2>La créativité nait des contraintes</h2>
						<ul>
							<li>Les spécificités de la surface (orientation, taille, voisinage ...)</li>
							<li>Les caractéristiques architecturales de la région</li>
							<li>Le climat</li>
							<li>Un plan local d'urbanisme</li>
							<li>Votre mode de vie, et ses évolutions futures</li>
							<li>Vos goûts, vos envies, vos inspirations, ...</li>
						</ul>
						<p>C'est à partir de chacune de ces contraintes que nous ellaborons tous nos dessins. Vous les challengez, nous les adaptons.</p>
					</div>
				</div>

	<md-grid-list
		md-cols="1" md-cols-md="2" md-cols-gt-md="3"
		md-row-height="16:10"
		md-gutter="4px">
	<md-grid-tile ng-repeat="tile in style" md-rowspan-xs="1" md-colspan-xs="1"
				  md-rowspan-gt-sm="{{tile.row}}" 
				  md-colspan-gt-sm="{{tile.col}}">
			<img ng-src="{{tile.img}}.jpg" alt="{{tile.title}}" ng-srcset="{{tile.img}}.jpg 400w, {{tile.img}}@2x.jpg  1400,{{tile.img}}@3x.jpg"
								 ng-click="showPic($event, $index)">
			<md-grid-tile-footer><h4>{{tile.title}}</h4></md-grid-tile-footer>
	</md-grid-tile>
	</md-grid-list>
