<a class="burger" href="#" ng-click="toggleMenu()" ng-class="classMenu"><span></span></a>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftNav">
	<md-content>
		<ul>
			<li><a md-ink-ripple ng-click="focus('services')" >Services</a></li>
			<li><a md-ink-ripple ng-click="focus('philo')">Philosophie</a></li>
			<li><a md-ink-ripple ng-click="focus('actus')">Actualités</a></li>
			<li><a md-ink-ripple ng-click="focus('a-propos')">Contact</a></li>
		</ul>
	</md-content>
</md-sidenav>