<a class="burger" ng-click="toggleMenu()" ng-class="classMenu"><span></span></a>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftNav">
	<md-content>
		<ul>
			<li><a md-ink-ripple ng-click="link('')" ><svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 16" width="14"><polygon style="fill:#030104;" points="8,0 0,8 2,8 2,16 6,16 6,10 10,10 10,16 14,16 14,8 16,8"/></svg> Accueil</a></li>
			<li><a md-ink-ripple ng-click="focus('services')" >Services</a> </li>
			<li><a md-ink-ripple ng-click="focus('philo')">Philosophie</a></li>
			<li><a md-ink-ripple ng-click="link('interieur')">Actualités</a></li>
			<li><a md-ink-ripple ng-click="focus('a-propos')">Contact</a></li>
			<li id="contactcontent">
<ul>
	<li id="facebook"><a href="http://www.facebook.com/nathalie.odiot.architecte" title="Facbook" target="_blank"><span>Facebook Fan Page</span>&nbsp;</a>
	<li id="pinterest"><a href="http://pinterest.com/nathalieodiot/" title="Pinterest" target="_blank"><span>Pinterest</span>&nbsp;</a></li>
	<li id="linkedin"><a href="http://fr.linkedin.com/pub/nathalie-odiot/23/720/a54" title="LinkedIn" target="_blank"><span>LinkedIn Profile</span>&nbsp;</a></li>
	<li id="google"><a href="http://plus.google.com/112645810473610812102?rel=author" rel="author" title="Google+" target="_blank"><span>Google + Nathalie Odiot</span>&nbsp;</a></li>
	
</ul>
			</li>
		</ul>
	</md-content>
</md-sidenav>