/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
	font-family: 'Roboto', serif;

}

[layout=row] {
	flex-direction: row;
}

.md-content{
	margin: 0; padding: 0;
}

header {
	background: #424242 url('/assets/images/bg9.jpg') center fixed ;
	background-size: cover;
	
	height: 500px;
	padding: 16px;
	h1 {
		width: 100%;
		text-align: right;
		font-size: 4.6em;
		font-family: Roboto; 
		font-weight: 700;
		margin: 60px 0 0 0;
		text-transform: uppercase;
	}
}


.content{
	position:relative;
	top:-100px;

}


md-card {
	img.pull-right {
		float: right;
		width: 40px;
	}
	h2{
		font-family: Roboto;
		font-weight: 100;
		text-transform: uppercase;
		margin:0;
		padding:24px 32px 20px 32px;
		font-size: 1.2em;
	}


	&.services, &.actus {
		md-card-content{
			margin-top:0;
			padding-top:0;
		}
		md-list{
			padding:0;
		}
		.icons-svg{
			width:56px; height:56px;
			margin: 12px 20px 0 0;
		}
	}
	&.a-propos{
		.portrait{
			background: url('/assets/images/nathalie-portrait.jpg') center center;
			background-size:cover;
			max-width:200px;
		}
		min-height:300px;
		h2{
			padding:24px 32px 20px 32px;
		}
		p{
			color: rgba(0, 0, 0, 0.6);
			font-size: 0.8em;
			padding: 0 16px;

		}
	}
	md-list-item{
		padding: 0 !important;
		border-bottom: #eee solid 1px;
		&:last-child{
			border:none !important;
		}
		md-list-item.md-2-line .md-list-item-text p{
			line-height: 1.2em !important;
			color: red !important;
		}
	}
	margin-bottom:16px;
	&.active{
		z-index: 100;
		position: relative;
		h2{
			// transition: all 1s;
			// background-color: #000;
			// color: #fff;
		}
	}

	md-grid-tile img{
		width: 100%;
	}
}

#layer {
  background: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.4s;
  &.active{
  	transition: all 1s;
  	z-index: 50;
  	background: rgba(0,0,0,0.2);
  }
}




.services img{
	width:60px !important; height:60px !important;
	margin:0px;
}
.actus img{
	width:120px !important; height:120px !important;
	margin:16px 16px 16px 0;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
