<div layout="vertical" layout-fill>
	<md-content>
		<header layout="row">
			<div layout-gt-md="row" flex-gt-sm=80 offset-gt-sm=10 flex-gt-lg=64 offset-gt-lg=18 layout-align="end top">
				<h1>Nathalie Odiot</h1>
			</div>
			<navbar hide-sm/>
		</header>


			<div layout="row" class="content" >
				<div layout-gt-md="row" flex-gt-sm=80 offset-gt-sm=10 flex-gt-lg=64 offset-gt-lg=18 flex-wrap>


<!-- Colonne de gauche -->
					<div flex=60 flex-order=2 flex-order-gt-md=1>
						<!-- Carte Services -->
						<md-card class="services" id="services">
							<h2>Mes services</h2>
							<md-card-content>
							<md-list>
								<md-list-item class="md-2-line" ng-repeat="tile in services">
								<img ng-src="{{tile.image}}" class="md-avatar" alt="{{tile.title}}"/>
									<div class="md-list-item-text">
										<h3>{{tile.title}}</h3>
										<p>{{tile.desc}}</p>
									</div>
								</md-list-item>
							</md-list>
							</md-card-content>
						</md-card> 

						<!-- Carte Philosophie -->
						<md-card class="philo" id="philo">
							<h2>Philosophie & Réalisations</h2>
							<md-card-content>	
								<md-grid-list md-cols-sm="2" md-cols-gt-sm="3" md-row-height="1:1" md-gutter="12px" >
									<md-grid-tile ng-class="" md-ink-ripple ng-repeat="tile in philos">
										<img ng-src="{{tile.image}}" alt="{{tile.title}}" />
										<md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
									</md-grid-tile>
								</md-grid-list>
							</md-card-content>
						</md-card>

					</div>


<!-- Colonne de droite -->
					<div flex=40 flex-order=1 flex-order-gt-md=2>
						<!-- Carte Contact -->
						<md-card class="a-propos" id="a-propos" layout="row" flew-wrap>
							<div flex=40 class="portrait"></div>
							<div flex=68>
								<h2>Nathalie Odiot</h2>
								<p>Paris - Saint Tropez</p>
								<p>The titles of Washed Out's breakthrough song and the first single from Paracosm share. The titles of Washed Out's breakthrough song and the first single from Paracosm share. The titles of Washed Out's breakthrough song and the first single from Paracosm share.</p>
								<p><a href="mailto:contact@nathalieodiot.com">contact@nathalieodiot.com</a></p>
								<p><a href="tel:+33-6-45-40-76-95">+33 6 45 40 76 95</a></p>
							</div>
						</md-card>
						<!-- Carte des Actualités -->
						<md-card class="actus" id="actus">
							<h2>Actualité</h2>
							<md-card-content>
							<md-list>
								<md-list-item class="md-2-line" ng-repeat="tile in news">
								<img ng-src="{{tile.image}}" alt="{{tile.title}}"/>
									<div class="md-list-item-text">
										<h3>{{tile.title}}</h3>
										<p>{{tile.desc}}</p>
										<p><a href="{{tile.link}}">En savoir plus</a></p>
									</div>
								</md-list-item>
							</md-card-content>
						</md-card>
					</div>
					
				</div>
			</div>
			<div id="layer" ng-click="removeFocus()"></div>

	</md-content>

</div>
